DOMAIN=local.example.com
ROOT_DIR=local.example.com/src
APP_TYPE=magento2
PHP_SERVICE=php81-c2
SEARCH_SERVICE=elasticsearch
DB_SERVICE=mysql
SERVICES="nginx mysql mailhog redis elasticsearch php81-c2"
ACTIVE_VHOSTS="local.example.com"
